.aside {
    max-width: 180px;
    border-right: 2px solid #e0e4ed;
    background-color: #fff;

    padding-top: 20px;
    flex-shrink: 0;

    @media(max-width: 778px) {
        display: none;
    }
}


.section + .section {
    margin-top: 30px;
}

.section a {
    display: block;
    padding: 25px 25px 8px 25px;
    margin-top: 8px;
    color: #99a1b3;
    border-left: 5px solid transparent;
    transition: 0.15s;
    

    &::first-letter {
        text-transform: capitalize;
    }

    &:hover {
        border-left: 5px solid #99a1b3;
        color: #747d92;

    }

}

.section .section_title{
  
    font-size: 20px;
    padding: 0 30px;
    margin-bottom: 5px;

    font-family: serif;

    h2::first-letter {
        text-transform: capitalize;
    }
}

